/* All text */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("com.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Headings */

h1 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

h2 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

h3 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

/* Paragraphs */

p {
    color: black;
}

/* Centered paragraph */

.center {
    text-align: center;
}

/* Justified paragraph */

.justify {
    text-align: justify;
}

/* Images */

img {
    border: 10px solid black;
    padding: 10px;
    background-color: yellow;
}

/* Navigation */

nav {
    background-color: white;
}

/* Links */

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}

/* Divs */

#program {
    background-color: white;
}

#requirements {
    background-color: white;
}

#classes {
    background-color: white;
}